BACKUP_ROOT=/mnt/kms-backup/kms
PGHOST=127.0.0.1
PGPORT=5432
PGDATABASE=kms_project
PGUSER=kms_backup
PGPASSFILE=/etc/kms/backup.pgpass
PG_DUMP_BIN=/usr/lib/postgresql/16/bin/pg_dump
# Kunci publik age. Private key jangan disimpan pada Application Server.
AGE_RECIPIENT=age1__REPLACE_WITH_OFFLINE_BACKUP_PUBLIC_KEY__
